services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    restart: unless-stopped

  fronted:
    build:
      context: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped